.flightInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.flightTitle {
    font-size: 3.5rem;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-weight: 500;
}

.flightSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 1px rgb(181, 181, 181);
    padding: 35px 20px;
    border-radius: 10px;
}


.flightbgImg {
    width: 100%;
    height: 240px;
    max-width: 1150px;
}


/* media */

@media screen and (min-width: 1250px) {
    .flightbgImg {
        height: 280px;
    }
}

@media screen and (max-width: 350px) {
    .flightSelect {
        padding: 20px 5px;
    }

    .flightTitle {
        font-size: 2rem;
    }
}